html,body{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: " Lato ",  sans-serif;
    font-weight: 400;
    line-height: 1.8m;
    color: #666;
    

}
.pimg1{
    background-image: url(images/1st.JPG);
    min-height: 100%;

}
.pimg2{
    background-image: url(images/2nd.jpg);
    min-height: 400px;
}
.pimg3{
    background-image: url(images/3rd.jpg);
    min-height: 400px;
}

.pimg1, .pimg2, .pimg3 , .pimg4{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 10px 10px 10px rgba(1,1,1, 0.8);
    border-radius: 5px;
}
.pimg4{
    background-image: url(images/1st.jpg);
    min-height: 100%;
}
.ptext{
    position: absolute;
    top: 50%;
   width: 100%;
   text-align: center;
   font-size: 27px;
   color: black;
   letter-spacing: 8px;
   text-transform: uppercase;
   
}
.texx{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 27px;
    letter-spacing: 8px;
    color: black;
    text-transform: uppercase;
   
}
.textBg{
    background: #313534 ;
    color: white;
    padding: 20px;
    border-radius: 4px;
}
.section{
    padding: 20px 80px;
    text-align: center;
    
}
.section-light{
    background-color: #f4f4f4;
    color: #666;
}
.textzz{
    background:none ;
    color: white;
    padding: 20px;
    border-radius: 4px;
    font-weight: bold;
    background-color: none;
}
.textyy{
    background:none ;
    color: white;
    padding: 20px;
    border-radius: 4px;
    font-weight: bold;
    box-shadow: 10px 10px 10px rgba(1,1,1, 0.8);

}
.textcc{
    
    color: white;
    padding: 20px;
    border-radius: 4px;
    font-weight: bolder;
}

.section-tight{
    background-color: #313534;
    color: #FFFFFF
}
